<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="static/favicon.gif" type="image/x-icon" />
    <title>Campañas</title>
    <style type="text/css">
      table, td, th {
          border: 1px solid green;
      }

      th {
          background-color: green;
          color: white;
      }
    </style>
    <script src="/static/jquery-1.11.3.js"></script>
    <script>
      $(function() {
        $('#comparar').click(function() {
          var checkboxes = $("input[type='checkbox']:checked");
          if(checkboxes.length != 2) {
            alert("Tenés que elegir 2 campañas para comparar.");
          } else {
            var una = $(checkboxes[0]).attr('name');
            var otra = $(checkboxes[1]).attr('name');
            $.ajax({
              url: '/campanias/comparar/' + encodeURIComponent(una) +
                   '/' + encodeURIComponent(otra)
            }).then(function(data) {
              alert(data);
            });
          }
        });
      });
    </script>
  </head>
  <body>
    <h1>Campañas</h1>

    <p>
      <a href="/campanias/crear">Crear nueva campaña</a>
    </p>

    <table>
      <thead>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Evento</th>
        <th>Fecha inicio</th>
        <th>Fecha final</th>
        <th>Criterio de eficacia</th>
        <th>Medición</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
        {% for campania in campanias %}
          <tr>
            <td>
              <input type="checkbox" name="{{ campania.codificacion }}"/>
            </td>
            <td>{{ campania.nombre }}</td>
            <td>{{ campania.evento }}</td>
            <td>{{ campania.fechaInicio }}</td>
            <td>{{ campania.fechaFinal }}</td>
            <td>{{ campania.criterioEficacia }}</td>
            <td>{{ campania.medicionEficacia }}</td>
            <td>
              <a href="/campanias/{{ campania.codificacion }}">Editar</a> 
              <a href="/campanias/{{ campania.codificacion }}/mensajes">Mensajes</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>
      <button id="comparar">Comparar campañas seleccionadas</button>
    </p>
  </body>
</html>
