<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="static/favicon.gif" type="image/x-icon" />
    <title>Campañas</title>
    <style type="text/css">
      table, td, th {
          border: 1px solid green;
      }

      th {
          background-color: green;
          color: white;
      }
    </style>
  </head>
  <body>
    <h1>Campañas</h1>

    <p>
      <a href="/campanias/crear">Crear nueva campaña</a>
    </p>

    <table>
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Evento</th>
        <th>Fecha inicio</th>
        <th>Fecha final</th >
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
        {% for campania in campanias %}
          <tr>
            <td>{{campania['nombre']}}</td>
            <td>{{campania['evento']}}</td>
            <td>{{campania['fechaInicio']}}</td>
            <td>{{campania['fechaFinal']}}</td>
            <td><a href="/campanias/{{ campania['codificacion'] }}">Editar</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
